<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.suhirotaka.android_noteapp_proto"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="jp.gr.java_conf.suhirotaka.android_noteapp_proto.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.gr.java_conf.suhirotaka.android_noteapp_proto.SmallStepsActivity"
            android:label="@string/title_activity_small_steps"
            android:parentActivityName="jp.gr.java_conf.suhirotaka.android_noteapp_proto.SmallStepsPortalActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.gr.java_conf.suhirotaka.android_noteapp_proto.SmallStepsPortalActivity" />
        </activity>
        <activity
            android:name="jp.gr.java_conf.suhirotaka.android_noteapp_proto.TodoListActivity"
            android:label="@string/title_activity_todo_list"
            android:parentActivityName="jp.gr.java_conf.suhirotaka.android_noteapp_proto.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.gr.java_conf.suhirotaka.android_noteapp_proto.MainActivity" />
        </activity>
        <activity
            android:name="jp.gr.java_conf.suhirotaka.android_noteapp_proto.SmallStepsPortalActivity"
            android:label="@string/title_activity_small_steps_portal"
            android:parentActivityName="jp.gr.java_conf.suhirotaka.android_noteapp_proto.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.gr.java_conf.suhirotaka.android_noteapp_proto.MainActivity" />
        </activity>
    </application>

</manifest>
